<form asp-controller="AdminServices" asp-action="UpdateScores">
    <section>
        <button style="width:65%; margin:15px 15px 15px 4.5px;" type="submit" class="btn btn-primary btn-block mb-4">Update</button>
    </section>
</form>