@{
    ViewData["Title"] = "Picks Confirmed";
}

@model User

<form>
    <div style="position:relative; width:75%; left:13.5%;">
        <h1 style="text-align:center;">Your picks have been submitted!</h1>
        <br />
        <h3 style="text-align:center;">Please use the access code below to view or edit your picks before the deadline. You can access this portal from the "Manage Picks" button on the home screen.</h3>
        <br />
        <strong><h1 style="text-align:center; color:red">@Model.accessCode</h1></strong>
        <br />
        <!-- first name input -->
        <div style="display:grid; grid-template-columns: 1fr 1fr;">
            <section style="width:95%; margin:5px;">
                <strong><label asp-for="firstName"></label></strong>
                <input asp-for="firstName" disabled class="form-control" />
            </section>
            <!-- last name input -->
            <section style="width:95%; margin:5px;">
                <strong><label asp-for="lastName"></label></strong>
                <input asp-for="lastName" disabled class="form-control" />
            </section>
            <section style="width:95%; margin:25px 15px 15px 4px;">
                <h2 style="color:#1775E1">Men's Draw</h2>
            </section>
            <section>
            </section>

            <!-- Men's' input -->
            <section style="width:95%; margin:5px;">
                <label asp-for="male1"></label>
                <input style="background-color:#98fb98"  disabled asp-for="male1" class="form-control" />
            </section>
            <section style="width:95%; margin:5px;">
                <label asp-for="male5"></label>
                <input style="background-color:#98fb98" disabled asp-for="male5" class="form-control" />
            </section>
            <section style="width:95%; margin:5px;">
                <label asp-for="male2"></label>
                <input style="background-color:#98fb98" disabled asp-for="male2" class="form-control" />
            </section>
            <section style="width:95%; margin:5px;">
                <label asp-for="male6"></label>
                <input style="background-color:#98fb98" disabled asp-for="male6" class="form-control" />
            </section>
            <section style="width:95%; margin:5px;">
                <label asp-for="male3"></label>
                <input style="background-color:#98fb98" disabled asp-for="male3" class="form-control" />
            </section>
            <section style="width:95%; margin:5px;">
                <label asp-for="male7"></label>
                <input style="background-color:#98fb98" disabled asp-for="male7" class="form-control" />
            </section>
            <section style="width:95%; margin:5px;">
                <label asp-for="male4"></label>
                <input style="background-color:#98fb98" disabled asp-for="male4" class="form-control" />
            </section>
            <section style="width:95%; margin:5px;">
                <label asp-for="male8"></label>
                <input style="background-color:#98fb98" disabled asp-for="male8" class="form-control" />
            </section>
            <section style="width:95%; margin:25px 15px 15px 4px;">
                <h2 style="color:#DA2C43">Women's Draw</h2>
            </section>
            <section>
            </section>
            <!-- Womens input -->
            <section style="width:95%; margin:5px;">
                <label asp-for="female1"></label>
                <input style="background-color:#98fb98" disabled asp-for="female1" class="form-control" />
            </section>
            <section style="width:95%; margin:5px;">
                <label asp-for="female5"></label>
                <input style="background-color:#98fb98" disabled asp-for="female5" class="form-control" />
            </section>
            <section style="width:95%; margin:5px;">
                <label asp-for="female2"></label>
                <input style="background-color:#98fb98" disabled asp-for="female2" class="form-control" />
            </section>
            <section style="width:95%; margin:5px;">
                <label asp-for="female6"></label>
                <input style="background-color:#98fb98" disabled asp-for="female6" class="form-control" />
            </section>
            <section style="width:95%; margin:5px;">
                <label asp-for="female3"></label>
                <input style="background-color:#98fb98" disabled asp-for="female3" class="form-control" />
            </section>
            <section style="width:95%; margin:5px;">
                <label asp-for="female7"></label>
                <input style="background-color:#98fb98" disabled asp-for="female7" class="form-control" />
            </section>
            <section style="width:95%; margin:5px;">
                <label asp-for="female4"></label>
                <input style="background-color:#98fb98" disabled asp-for="female4" class="form-control" />
            </section>
            <section style="width:95%; margin:5px;">
                <label asp-for="female8"></label>
                <input style="background-color:#98fb98" disabled asp-for="female8" class="form-control" />
            </section>
            <section>
                <button style="width:65%; margin:15px 15px 15px 4.5px;" asp-controller="Home" asp-action="Index" class="btn btn-primary btn-block mb-4">Home</button>
            </section>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}