@{
    ViewData["Title"] = "Edit Picks";
}

@model User

<partial name="_Notification" />

<form asp-controller="UserServices" asp-action="UpdatedPicks">
    <div style="position:relative; width:75%; left:13.5%;">
        <h1 style="text-align:center;">Edit Your Picks</h1>
        <br />
        <!-- first name input -->
        <div style="display:grid; grid-template-columns: 1fr 1fr;">
            <section style="width:95%; margin:5px;">
                <strong><label asp-for="firstName"></label></strong>
                <input asp-for="firstName" disabled class="form-control" />
            </section>
            <!-- last name input -->
            <section style="width:95%; margin:5px;">
                <strong><label asp-for="lastName"></label></strong>
                <input asp-for="lastName" disabled class="form-control" />
            </section>
            <section style="width:95%; margin:25px 15px 15px 4px;">
                <a style="color:#1775E1; text-decoration:none" ; href="https://www.wimbledon.com/en_GB/draws/gentlemens-singles" target="_blank"><h2>Men's Draw</h2></></a>
            </section>
            <section>
            </section>
            <!-- Men's' input -->
            <!-- Men's Q1 -->
            <section class="disabled" style="width:95%; margin:5px;">
                <label asp-for="male1"></label>
                <select asp-for="male1" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">J. Sinner [1]</option>
                    <option class="text-dark">V. Kopriva</option>
                    <option class="text-dark">A. Popyrin</option>
                    <option class="text-dark">E. Ruusuvuori</option>
                    <option class="text-dark">V. Royer (W)</option>
                    <option class="text-dark">Y. Bu</option>
                    <option class="text-dark">M. Fucsovics</option>
                    <option class="text-dark">D. Shapovalov [27]</option>
                    <option class="text-dark">A. Bublik [23]</option>
                    <option class="text-dark">M. Cilic</option>
                    <option class="text-dark">L. Sonego</option>
                    <option class="text-dark">T. Schoolkate (W)</option>
                    <option class="text-dark">N. Borges</option>
                    <option class="text-dark">B. Holt</option>
                    <option class="text-dark">E. Moller</option>
                    <option class="text-dark">T. Paul [14]</option>
                </select>
                <span asp-validation-for="male1" class="text-danger"></span>
            </section>


            <!-- Men's Q5 -->
            <section style="width:95%; margin:5px;">
                <label asp-for="male5"></label>
                <select asp-for="male5" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">N. Djokovic [7]</option>
                    <option class="text-dark">L. Tien</option>
                    <option class="text-dark">Qualifier/Lucky Loser (Q/LL)</option>
                    <option class="text-dark">Qualifier/Lucky Loser (Q/LL)</option>
                    <option class="text-dark">C. Norrie</option>
                    <option class="text-dark">S. Korda</option>
                    <option class="text-dark">F. Comesana</option>
                    <option class="text-dark">A. Michelsen [28]</option>
                    <option class="text-dark">F. Tiafoe [17]</option>
                    <option class="text-dark">Y. Nishioka</option>
                    <option class="text-dark">Qualifier/Lucky Loser (Q/LL)</option>
                    <option class="text-dark">D. Blanch (W)</option>
                    <option class="text-dark">Qualifier/Lucky Loser (Q/LL)</option>
                    <option class="text-dark">M. McDonald</option>
                    <option class="text-dark">B. Van de Zandschulp</option>
                    <option class="text-dark">H. Rune [11]</option>
                </select>
                <span asp-validation-for="male3" class="text-danger"></span>
            </section>



            <!-- Men's Q2 -->
            <section style="width:95%; margin:5px;">
                <label asp-for="male2"></label>
                <select asp-for="male2" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">L. Musetti [10]</option>
                    <option class="text-dark">G. Mpetshi Perricard</option>
                    <option class="text-dark">Q. Halys</option>
                    <option class="text-dark">D. Goffin</option>
                    <option class="text-dark">J. Brooksby</option>
                    <option class="text-dark">A. Vukic</option>
                    <option class="text-dark">Qualifier/Lucky Loser (Q/LL)</option>
                    <option class="text-dark">F. Cobolli [24]</option>
                    <option class="text-dark">G. Diallo [31]</option>
                    <option class="text-dark">D. Dzumhur</option>
                    <option class="text-dark">J. Munar</option>
                    <option class="text-dark">Qualifier/Lucky Loser (Q/LL)</option>
                    <option class="text-dark">Z. Bergs</option>
                    <option class="text-dark">C. Tseng</option>
                    <option class="text-dark">Qualifier/Lucky Loser (Q/LL)</option>
                    <option class="text-dark">J. Draper [5]</option>
                </select>
                <span asp-validation-for="male5" class="text-danger"></span>
            </section>



            <!--Men's Q6-->
            <section style="width:95%; margin:5px;">
                <label asp-for="male6"></label>
                <select asp-for="male6" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">J. Mensik [16]</option>
                    <option class="text-dark">N. Jarry</option>
                    <option class="text-dark">Qualifier/Lucky Loser (Q/LL)</option>
                    <option class="text-dark">F. Marozsan</option>
                    <option class="text-dark">J. Fonseca</option>
                    <option class="text-dark">M. Kecmanovic</option>
                    <option class="text-dark">L. Nardi</option>
                    <option class="text-dark">T. Machac [21]</option>
                    <option class="text-dark">B. Nakashima [30]</option>
                    <option class="text-dark">Qualifier/Lucky Loser (Q/LL)</option>
                    <option class="text-dark">Qualifier/Lucky Loser (Q/LL)</option>
                    <option class="text-dark">E. Quinn</option>
                    <option class="text-dark">S. Baez</option>
                    <option class="text-dark">Qualifier/Lucky Loser (Q/LL)</option>
                    <option class="text-dark">E. Nava (W)</option>
                    <option class="text-dark">T. Fritz [4]</option>
                </select>
                <span asp-validation-for="male4" class="text-danger"></span>
            </section>


            <!-- Men's Q3 -->
            <section style="width:95%; margin:5px;">
                <label asp-for="male3"></label>
                <select asp-for="male3" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">A. Zverev [3]</option>
                    <option class="text-dark">A. Tabilo</option>
                    <option class="text-dark">R. Bautista Agut</option>
                    <option class="text-dark">J. Fearnley</option>
                    <option class="text-dark">G. Monfils</option>
                    <option class="text-dark">R. Safiullin</option>
                    <option class="text-dark">Qualifier/Lucky Loser (Q/LL)</option>
                    <option class="text-dark">F. Auger-Aliassime [25]</option>
                    <option class="text-dark">U. Humbert [22]</option>
                    <option class="text-dark">A. Walton</option>
                    <option class="text-dark">A. Kovacevic</option>
                    <option class="text-dark">Qualifier/Lucky Loser (Q/LL)</option>
                    <option class="text-dark">Qualifier/Lucky Loser (Q/LL)</option>
                    <option class="text-dark">T. Boyer (W)</option>
                    <option class="text-dark">Qualifier/Lucky Loser (Q/LL)</option>
                    <option class="text-dark">A. Rublev [15]</option>
                </select>
                <span asp-validation-for="male2" class="text-danger"></span>
            </section>



            <!-- Men's Q7 -->
            <section style="width:95%; margin:5px;">
                <label asp-for="male7"></label>
                <select asp-for="male7" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">B. Shelton [6]</option>
                    <option class="text-dark">Qualifier/Lucky Loser (Q/LL)</option>
                    <option class="text-dark">P. Carreno Busta</option>
                    <option class="text-dark">Qualifier/Lucky Loser (Q/LL)</option>
                    <option class="text-dark">J. Thompson</option>
                    <option class="text-dark">C. Moutet</option>
                    <option class="text-dark">A. Mannarino</option>
                    <option class="text-dark">T. Griekspoor [29]</option>
                    <option class="text-dark">J. Lehecka [20]</option>
                    <option class="text-dark">B. Coric</option>
                    <option class="text-dark">C. Ugo Carabelli</option>
                    <option class="text-dark">T. Etcheverry</option>
                    <option class="text-dark">L. Djere</option>
                    <option class="text-dark">R. Collignon</option>
                    <option class="text-dark">S. Ofner</option>
                    <option class="text-dark">C. Ruud [12]</option>
                </select>
                <span asp-validation-for="male7" class="text-danger"></span>
            </section>



            <!-- Men's Q4 -->
            <section style="width:95%; margin:5px;">
                <label asp-for="male4"></label>
                <select asp-for="male4" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">K. Khachanov [9]</option>
                    <option class="text-dark">N. Basavareddy (W)</option>
                    <option class="text-dark">H. Dellien</option>
                    <option class="text-dark">K. Majchrzak</option>
                    <option class="text-dark">Qualifier/Lucky Loser (Q/LL)</option>
                    <option class="text-dark">P. Martinez</option>
                    <option class="text-dark">M. Arnaldi</option>
                    <option class="text-dark">F. Cerundolo [19]</option>
                    <option class="text-dark">S. Tsitsipas [26]</option>
                    <option class="text-dark">A. Muller</option>
                    <option class="text-dark">D. Altmaier</option>
                    <option class="text-dark">H. Medjedovic</option>
                    <option class="text-dark">H. Gaston</option>
                    <option class="text-dark">Qualifier/Lucky Loser (Q/LL)</option>
                    <option class="text-dark">C. O'Connell</option>
                    <option class="text-dark">A. De Minaur [8]</option>
                </select>
                <span asp-validation-for="male6" class="text-danger"></span>
            </section>



            <!-- Men's Q8 -->
            <section style="width:95%; margin:5px;">
                <label asp-for="male8"></label>
                <select asp-for="male8" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">D. Medvedev [13]</option>
                    <option class="text-dark">B. Bonzi</option>
                    <option class="text-dark">M. Navone</option>
                    <option class="text-dark">M. Giron</option>
                    <option class="text-dark">R. Carballes Baena</option>
                    <option class="text-dark">A. Rinderknech</option>
                    <option class="text-dark">A. Shevchenko</option>
                    <option class="text-dark">A. Davidovich Fokina [18]</option>
                    <option class="text-dark">L. Darderi [32]</option>
                    <option class="text-dark">R. Hijikata</option>
                    <option class="text-dark">S. Dostanic (W)</option>
                    <option class="text-dark">E. Spizzirri (W)</option>
                    <option class="text-dark">M. Bellucci</option>
                    <option class="text-dark">J. Shang</option>
                    <option class="text-dark">R. Opelka</option>
                    <option class="text-dark">C. Alcaraz [2]</option>
                </select>
                <span asp-validation-for="male4" class="text-danger"></span>
            </section>



            <section style="width:95%; margin:25px 15px 15px 4px;">
                <a style="text-decoration:none;" href="https://www.wimbledon.com/en_GB/draws/ladies-singles" target="_blank"><h2 style="color:#DA2C43">Women's Draw</h2></a>
            </section>
            <section>
            </section>
            <!-- Womens input -->
            <!--Women's Q1-->
            <section style="width:95%; margin:5px;">
                <label asp-for="female1"></label>
                <select asp-for="female1" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">A. Sabalenka [1]</option>
                    <option class="text-dark">R. Masarova</option>
                    <option class="text-dark">N. Parrizas Diaz</option>
                    <option class="text-dark">P. Kudermetova</option>
                    <option class="text-dark">E. Jacquemot</option>
                    <option class="text-dark">M. Bouzkova</option>
                    <option class="text-dark">Qualifier (Q)</option>
                    <option class="text-dark">L. Fernandez [31]</option>
                    <option class="text-dark">E. Mertens [19]</option>
                    <option class="text-dark">A. Ahn (W)</option>
                    <option class="text-dark">L. Sun</option>
                    <option class="text-dark">C. Osorio</option>
                    <option class="text-dark">C. Bucsa</option>
                    <option class="text-dark">Qualifier (Q)</option>
                    <option class="text-dark">A. Eala</option>
                    <option class="text-dark">C. Tauson [14]</option>
                </select>
                <span asp-validation-for="female1" class="text-danger"></span>
            </section>

            <!--Women's Q5-->
            <section style="width:95%; margin:5px;">
                <label asp-for="female5"></label>
                <select asp-for="female5" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">M. Keys [6]</option>
                    <option class="text-dark">R. Zarazua</option>
                    <option class="text-dark">P. Kvitova</option>
                    <option class="text-dark">D. Parry</option>
                    <option class="text-dark">Qualifier (Q)</option>
                    <option class="text-dark">Z. Sonmez</option>
                    <option class="text-dark">K. Boulter</option>
                    <option class="text-dark">M. Kostyuk [27]</option>
                    <option class="text-dark">L. Noskova [21]</option>
                    <option class="text-dark">Qualifier (Q)</option>
                    <option class="text-dark">Qualifier (Q)</option>
                    <option class="text-dark">E. Lys</option>
                    <option class="text-dark">S. Cirstea</option>
                    <option class="text-dark">S. Sierra</option>
                    <option class="text-dark">V. Williams (W)</option>
                    <option class="text-dark">K. Muchova [11]</option>
                </select>
                <span asp-validation-for="female5" class="text-danger"></span>
            </section>
            <!--Women's Q2-->
            <section style="width:95%; margin:5px;">
                <label asp-for="female2"></label>
                <select asp-for="female2" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">E. Rybakina [9]</option>
                    <option class="text-dark">J. Pareja (W)</option>
                    <option class="text-dark">L. Bronzetti</option>
                    <option class="text-dark">Qualifier (Q)</option>
                    <option class="text-dark">E. Raducanu</option>
                    <option class="text-dark">Qualifier (Q)</option>
                    <option class="text-dark">Qualifier (Q)</option>
                    <option class="text-dark">V. Kudermetova [24]</option>
                    <option class="text-dark">M. Kessler [32]</option>
                    <option class="text-dark">M. Linette</option>
                    <option class="text-dark">Qualifier (Q)</option>
                    <option class="text-dark">M. Vondrousova</option>
                    <option class="text-dark">A. Sasnovich</option>
                    <option class="text-dark">I. Jovic</option>
                    <option class="text-dark">Qualifier (Q)</option>
                    <option class="text-dark">J. Paolini [7]</option>
                </select>
                <span asp-validation-for="female5" class="text-danger"></span>
            </section>

            <!--Women's Q6-->
            <section style="width:95%; margin:5px;">
                <label asp-for="female6"></label>
                <select asp-for="female6" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">D. Kasatkina [15]</option>
                    <option class="text-dark">E. Ruse</option>
                    <option class="text-dark">K. Rakhimova</option>
                    <option class="text-dark">C. Garcia (W)</option>
                    <option class="text-dark">H. Baptiste</option>
                    <option class="text-dark">K. Siniakova</option>
                    <option class="text-dark">G. Minnen</option>
                    <option class="text-dark">N. Osaka [23]</option>
                    <option class="text-dark">M. Frech [28]</option>
                    <option class="text-dark">T. Gibson (W)</option>
                    <option class="text-dark">Qualifier (Q)</option>
                    <option class="text-dark">P. Stearns</option>
                    <option class="text-dark">D. Vekic</option>
                    <option class="text-dark">J. Bouzas Maneiro</option>
                    <option class="text-dark">A. Tomljanovic</option>
                    <option class="text-dark">C. Gauff [3]</option>
                </select>
                <span asp-validation-for="female6" class="text-danger"></span>
            </section>

            <!--Women's Q3-->
            <section style="width:95%; margin:5px;">
                <label asp-for="female3"></label>
                <select asp-for="female3" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">J. Pegula [4]</option>
                    <option class="text-dark">M. Sherif</option>
                    <option class="text-dark">Y. Starodubtseva</option>
                    <option class="text-dark">A. Blinkova</option>
                    <option class="text-dark">V. Azarenka</option>
                    <option class="text-dark">Qualifier (Q)</option>
                    <option class="text-dark">A. Pavlyuchenkova</option>
                    <option class="text-dark">D. Yastremska [30]</option>
                    <option class="text-dark">L. Samsonova [17]</option>
                    <option class="text-dark">Y. Yuan</option>
                    <option class="text-dark">L. Jeanjean</option>
                    <option class="text-dark">Qualifier (Q)</option>
                    <option class="text-dark">A. Li</option>
                    <option class="text-dark">R. Sramkova</option>
                    <option class="text-dark">Qualifier (Q)</option>
                    <option class="text-dark">B. Bencic [16]</option>
                </select>
                <span asp-validation-for="female2" class="text-danger"></span>
            </section>

            <!--Women's Q7-->
            <section style="width:95%; margin:5px;">
                <label asp-for="female7"></label>
                <select asp-for="female7" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">A. Anisimova [8]</option>
                    <option class="text-dark">K. Birrell</option>
                    <option class="text-dark">Qualifier (Q)</option>
                    <option class="text-dark">M. Joint</option>
                    <option class="text-dark">D. Collins</option>
                    <option class="text-dark">J. Cristian</option>
                    <option class="text-dark">A. Krueger</option>
                    <option class="text-dark">S. Kenin [26]</option>
                    <option class="text-dark">B. Haddad Maia [18]</option>
                    <option class="text-dark">S. Kartal</option>
                    <option class="text-dark">L. Boisson</option>
                    <option class="text-dark">V. Golubic</option>
                    <option class="text-dark">M. Sakkari</option>
                    <option class="text-dark">T. Maria</option>
                    <option class="text-dark">A. Bondar</option>
                    <option class="text-dark">E. Svitolina [12]</option>
                </select>
                <span asp-validation-for="female8" class="text-danger"></span>
            </section>

            <!--Women's Q4-->
            <section style="width:95%; margin:5px;">
                <label asp-for="female4"></label>
                <select asp-for="female4" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">E. Navarro [10]</option>
                    <option class="text-dark">Y. Wang</option>
                    <option class="text-dark">J. Teichmann</option>
                    <option class="text-dark">C. McNally (W)</option>
                    <option class="text-dark">M. Uchijima</option>
                    <option class="text-dark">O. Danilovic</option>
                    <option class="text-dark">B. Krejcikova</option>
                    <option class="text-dark">V. Mboko [22]</option>
                    <option class="text-dark">J. Ostapenko [25]</option>
                    <option class="text-dark">Qualifier (Q)</option>
                    <option class="text-dark">T. Townsend</option>
                    <option class="text-dark">A. Ruzic</option>
                    <option class="text-dark">A. Potapova</option>
                    <option class="text-dark">L. Zhu</option>
                    <option class="text-dark">A. Parks</option>
                    <option class="text-dark">M. Andreeva [5]</option>
                </select>
                <span asp-validation-for="female4" class="text-danger"></span>
            </section>

            <!--Women's Q8-->
            <section style="width:95%; margin:5px;">
                <label asp-for="female8"></label>
                <select asp-for="female8" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">E. Alexandrova [13]</option>
                    <option class="text-dark">A. Sevastova</option>
                    <option class="text-dark">C. Dolehide</option>
                    <option class="text-dark">X. Wang</option>
                    <option class="text-dark">A. Zakharova</option>
                    <option class="text-dark">E. Avanesyan</option>
                    <option class="text-dark">L. Siegemund</option>
                    <option class="text-dark">D. Shnaider [20]</option>
                    <option class="text-dark">A. Kalinskaya [29]</option>
                    <option class="text-dark">C. Ngounoue (W)</option>
                    <option class="text-dark">Y. Putintseva</option>
                    <option class="text-dark">E. Cocciaretto</option>
                    <option class="text-dark">S. Lamens</option>
                    <option class="text-dark">V. Glozman (W)</option>
                    <option class="text-dark">E. Arango</option>
                    <option class="text-dark">I. Swiatek [2]</option>
                </select>
                <span asp-validation-for="female8" class="text-danger"></span>
            </section>
            <section>
                <button style="width:65%; margin:15px 15px 15px 4.5px;" type="submit" class="btn btn-success btn-block mb-4 disabled">Update</button>
            </section>
            <section>
                <button style="width:65%; margin:15px 15px 15px 4.5px;" asp-controller="Home" asp-action="Index" class="btn btn-primary btn-block mb-4">Home</button>
            </section>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}