@{
    ViewData["Title"] = "Edit Picks";
}

@model User

<partial name="_Notification" />

<form asp-controller="UserServices" asp-action="UpdatedPicks">
    <div style="position:relative; width:75%; left:13.5%;">
        <h1 style="text-align:center;">Edit Your Picks</h1>
        <br />
        <!-- first name input -->
        <div style="display:grid; grid-template-columns: 1fr 1fr;">
            <section style="width:95%; margin:5px;">
                <strong><label asp-for="firstName"></label></strong>
                <input asp-for="firstName" disabled class="form-control" />
            </section>
            <!-- last name input -->
            <section style="width:95%; margin:5px;">
                <strong><label asp-for="lastName"></label></strong>
                <input asp-for="lastName" disabled class="form-control" />
            </section>
            <section style="width:95%; margin:25px 15px 15px 4px;">
                <a style="color:#1775E1; text-decoration:none" ; href="https://www.wimbledon.com/en_GB/draws/gentlemens-singles" target="_blank"><h2>Men's Draw</h2></></a>
            </section>
            <section>
            </section>
            <!-- Men's' input -->
            <!--Men's Q1-->
            <section class="disabled" style="width:95%; margin:5px;">
                <label asp-for="male1"></label>
                <select asp-for="male1" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">J. Sinner [1]</option>
                    <option class="text-dark">N. Jarry</option>
                    <option class="text-dark">T. Schoolkate</option>
                    <option class="text-dark">T. Daniel</option>
                    <option class="text-dark">M. Giron</option>
                    <option class="text-dark">Y. Hanfmann</option>
                    <option class="text-dark">T. Etcheverry</option>
                    <option class="text-dark">F. Cobolli [32]</option>
                    <option class="text-dark">H. Hurkacz [18]</option>
                    <option class="text-dark">T. Griekspoor</option>
                    <option class="text-dark">M. Kecmanovic</option>
                    <option class="text-dark">D. Lajovic</option>
                    <option class="text-dark">M. Berrettini</option>
                    <option class="text-dark">C. Norrie</option>
                    <option class="text-dark">Z. Zhang</option>
                    <option class="text-dark">H. Rune [13]</option>
                </select>
                <span asp-validation-for="male1" class="text-danger"></span>
            </section>
            <!--Men's Q5-->
            <section style="width:95%; margin:5px;">
                <label asp-for="male5"></label>
                <select asp-for="male5" class="form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">N. Djokovic [7]</option>
                    <option class="text-dark">N. Basavareddy</option>
                    <option class="text-dark">J. Faria</option>
                    <option class="text-dark">P. Kotov</option>
                    <option class="text-dark">G. Onclin</option>
                    <option class="text-dark">R. Opelka</option>
                    <option class="text-dark">S. Nagal</option>
                    <option class="text-dark">T. Machac [26]</option>
                    <option class="text-dark">J. Lehecka [24]</option>
                    <option class="text-dark">L. Tu</option>
                    <option class="text-dark">H. Gaston</option>
                    <option class="text-dark">O. Jasika</option>
                    <option class="text-dark">D. Goffin</option>
                    <option class="text-dark">B. Bonzi</option>
                    <option class="text-dark">F. Fognini</option>
                    <option class="text-dark">G. Dimitrov [10]</option>
                </select>
                <span asp-validation-for="male5" class="text-danger"></span>
            </section>
            <!--Men's Q2-->
            <section style="width:95%; margin:5px;">
                <label asp-for="male2"></label>
                <select asp-for="male2" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">S. Tsitsipas [11]</option>
                    <option class="text-dark">A. Michelsen</option>
                    <option class="text-dark">J. McCabe</option>
                    <option class="text-dark">M. Landaluce</option>
                    <option class="text-dark">G. Diallo</option>
                    <option class="text-dark">L. Nardi</option>
                    <option class="text-dark">A. Mannarino</option>
                    <option class="text-dark">K. Khachanov [19]</option>
                    <option class="text-dark">F. Cerundolo [31]</option>
                    <option class="text-dark">A. Bublik</option>
                    <option class="text-dark">F. Diaz Acosta</option>
                    <option class="text-dark">Z. Bergs</option>
                    <option class="text-dark">T. Boyer</option>
                    <option class="text-dark">F. Coria</option>
                    <option class="text-dark">B. van de Zandschulp</option>
                    <option class="text-dark">A. de Minaur [8]</option>
                </select>
                <span asp-validation-for="male2" class="text-danger"></span>
            </section>
            <!--Men's Q6-->
            <section style="width:95%; margin:5px;">
                <label asp-for="male6"></label>
                <select asp-for="male6" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">J. Draper [15]</option>
                    <option class="text-dark">M. Navone</option>
                    <option class="text-dark">T. Kokkinakis</option>
                    <option class="text-dark">R. Safiullin</option>
                    <option class="text-dark">D. Dzumhur</option>
                    <option class="text-dark">A. Vukic</option>
                    <option class="text-dark">L. Klein</option>
                    <option class="text-dark">S. Korda [22]</option>
                    <option class="text-dark">J. Thompson [27]</option>
                    <option class="text-dark">D. Koepfer</option>
                    <option class="text-dark">A. Muller</option>
                    <option class="text-dark">N. Borges</option>
                    <option class="text-dark">Y. Nishioka</option>
                    <option class="text-dark">A. Dougaz</option>
                    <option class="text-dark">A. Shevchenko</option>
                    <option class="text-dark">C. Alcaraz [3]</option>
                </select>
                <span asp-validation-for="male6" class="text-danger"></span>
            </section>
            <!--Men's Q3-->
            <section style="width:95%; margin:5px;">
                <label asp-for="male3"></label>
                <select asp-for="male3" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">T. Fritz [4]</option>
                    <option class="text-dark">J. Brooksby</option>
                    <option class="text-dark">B. Coric</option>
                    <option class="text-dark">C. Garin</option>
                    <option class="text-dark">F. Comesana</option>
                    <option class="text-dark">D. Altmaier</option>
                    <option class="text-dark">G. Monfils</option>
                    <option class="text-dark">G. Mpetshi Perricard [30]</option>
                    <option class="text-dark">B. Shelton [21]</option>
                    <option class="text-dark">B. Nakashima</option>
                    <option class="text-dark">P. Carreno Busta</option>
                    <option class="text-dark">K. Majchrzak</option>
                    <option class="text-dark">R. Bautista Agut</option>
                    <option class="text-dark">D. Shapovalov</option>
                    <option class="text-dark">M. Arnaldi</option>
                    <option class="text-dark">L. Musetti [16]</option>
                </select>
                <span asp-validation-for="male3" class="text-danger"></span>
            </section>
            <!--Men's Q7-->
            <section style="width:95%; margin:5px;">
                <label asp-for="male7"></label>
                <select asp-for="male7" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">C. Ruud [6]</option>
                    <option class="text-dark">J. Munar</option>
                    <option class="text-dark">N. Basilashvili</option>
                    <option class="text-dark">J. Mensik</option>
                    <option class="text-dark">J. Shang</option>
                    <option class="text-dark">A. Davidovich Fokina</option>
                    <option class="text-dark">J. Struff</option>
                    <option class="text-dark">F. Auger-Aliassime [29]</option>
                    <option class="text-dark">A. Tabilo [23]</option>
                    <option class="text-dark">R. Carballes Baena</option>
                    <option class="text-dark">J. Duckworth</option>
                    <option class="text-dark">D. Stricker</option>
                    <option class="text-dark">K. Nishikori</option>
                    <option class="text-dark">T. Monteiro</option>
                    <option class="text-dark">C. O'Connell</option>
                    <option class="text-dark">T. Paul [12]</option>
                </select>
                <span asp-validation-for="male7" class="text-danger"></span>
            </section>
            <!--Men's Q4-->
            <section style="width:95%; margin:5px;">
                <label asp-for="male4"></label>
                <select asp-for="male4" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">A. Rublev [9]</option>
                    <option class="text-dark">J. Fonseca</option>
                    <option class="text-dark">L. Sonego</option>
                    <option class="text-dark">S. Wawrinka</option>
                    <option class="text-dark">T. Seyboth Wild</option>
                    <option class="text-dark">F. Marozsan</option>
                    <option class="text-dark">A. Rinderknech</option>
                    <option class="text-dark">F. Tiafoe [17]</option>
                    <option class="text-dark">A. Popyrin [25]</option>
                    <option class="text-dark">C. Moutet</option>
                    <option class="text-dark">R. Hijikata</option>
                    <option class="text-dark">M. Krueger</option>
                    <option class="text-dark">C. Ugo Carabelli</option>
                    <option class="text-dark">L. Tien</option>
                    <option class="text-dark">K. Samrej</option>
                    <option class="text-dark">D. Medvedev [5]</option>
                </select>
                <span asp-validation-for="male4" class="text-danger"></span>
            </section>
            <!--Men's Q8-->
            <section style="width:95%; margin:5px;">
                <label asp-for="male8"></label>
                <select asp-for="male8" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">U. Humbert [14]</option>
                    <option class="text-dark">M. Gigante</option>
                    <option class="text-dark">H. Habib</option>
                    <option class="text-dark">Y. Bu</option>
                    <option class="text-dark">A. Walton</option>
                    <option class="text-dark">Q. Halys</option>
                    <option class="text-dark">O. Virtanen</option>
                    <option class="text-dark">A. Fils [20]</option>
                    <option class="text-dark">S. Baez [28]</option>
                    <option class="text-dark">A. Cazaux</option>
                    <option class="text-dark">J. Fearnley</option>
                    <option class="text-dark">N. Kyrgios</option>
                    <option class="text-dark">P. Martinez</option>
                    <option class="text-dark">L. Darderi</option>
                    <option class="text-dark">L. Pouille</option>
                    <option class="text-dark">A. Zverev [2]</option>
                </select>
                <span asp-validation-for="male8" class="text-danger"></span>
            </section>
            <section style="width:95%; margin:25px 15px 15px 4px;">
                <a style="text-decoration:none;" href="https://www.usopen.org/en_US/draws/womens-singles.html" target="_blank"><h2 style="color:#DA2C43">Women's Draw</h2></a>
            </section>
            <section>
            </section>
            <!-- Womens input -->
            <!-- Women's Q1' -->
            <section style="width:95%; margin:5px;">
                <label asp-for="female1"></label>
                <select asp-for="female1" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">A. Sabalenka [1]</option>
                    <option class="text-dark">S. Stephens</option>
                    <option class="text-dark">S. Kartal</option>
                    <option class="text-dark">J. Bouzas Maneiro</option>
                    <option class="text-dark">B. Pera</option>
                    <option class="text-dark">T. Maria</option>
                    <option class="text-dark">C. Tauson</option>
                    <option class="text-dark">L. Noskova [29]</option>
                    <option class="text-dark">M. Frech [23]</option>
                    <option class="text-dark">P. Kudermetova</option>
                    <option class="text-dark">A. Blinkova</option>
                    <option class="text-dark">D. Saville</option>
                    <option class="text-dark">M. Uchijima</option>
                    <option class="text-dark">M. Linette</option>
                    <option class="text-dark">M. Bouzkova</option>
                    <option class="text-dark">M. Andreeva [14]</option>
                </select>
                <span asp-validation-for="female1" class="text-danger"></span>

            </section>
            <!-- Women's Q5' -->
            <section style="width:95%; margin:5px;">
                <label asp-for="female5"></label>
                <select asp-for="female5" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">E. Rybakina [6]</option>
                    <option class="text-dark">E. Jones</option>
                    <option class="text-dark">N. Parrizas Diaz</option>
                    <option class="text-dark">I. Jovic</option>
                    <option class="text-dark">D. Kovinic</option>
                    <option class="text-dark">L. Sun</option>
                    <option class="text-dark">M. Sherif</option>
                    <option class="text-dark">D. Yastremska [32]</option>
                    <option class="text-dark">M. Keys [19]</option>
                    <option class="text-dark">A. Li</option>
                    <option class="text-dark">I. Begu</option>
                    <option class="text-dark">E. Ruse</option>
                    <option class="text-dark">G. Minnen</option>
                    <option class="text-dark">D. Aiava</option>
                    <option class="text-dark">D. Snigur</option>
                    <option class="text-dark">D. Collins [10]</option>
                </select>
                <span asp-validation-for="female5" class="text-danger"></span>
            </section>
            <!-- Women's Q2' -->
            <section style="width:95%; margin:5px;">
                <label asp-for="female2"></label>
                <select asp-for="female2" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">D. Shnaider [12]</option>
                    <option class="text-dark">E. Cocciaretto</option>
                    <option class="text-dark">A. Tomljanovic</option>
                    <option class="text-dark">A. Krueger</option>
                    <option class="text-dark">M. Vondrousova</option>
                    <option class="text-dark">J. Fett</option>
                    <option class="text-dark">D. Parry</option>
                    <option class="text-dark">D. Vekic [18]</option>
                    <option class="text-dark">A. Pavlyuchenkova [27]</option>
                    <option class="text-dark">Y. Yuan</option>
                    <option class="text-dark">T. Zidansek</option>
                    <option class="text-dark">A. Potapova</option>
                    <option class="text-dark">L. Siegemund</option>
                    <option class="text-dark">H. Baptiste</option>
                    <option class="text-dark">A. Todoni</option>
                    <option class="text-dark">Q. Zheng [5]</option>
                </select>
                <span asp-validation-for="female2" class="text-danger"></span>
            </section>
            <!-- Women's Q6' -->
            <section style="width:95%; margin:5px;">
                <label asp-for="female6"></label>
                <select asp-for="female6" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">B. Haddad Maia [15]</option>
                    <option class="text-dark">J. Riera</option>
                    <option class="text-dark">S. Zheng</option>
                    <option class="text-dark">E. Andreeva</option>
                    <option class="text-dark">V. Kudermetova</option>
                    <option class="text-dark">O. Gadecki</option>
                    <option class="text-dark">R. Marino</option>
                    <option class="text-dark">K. Boulter [22]</option>
                    <option class="text-dark">E. Svitolina [28]</option>
                    <option class="text-dark">S. Cirstea</option>
                    <option class="text-dark">S. Bejlek</option>
                    <option class="text-dark">C. Dolehide</option>
                    <option class="text-dark">T. Townsend</option>
                    <option class="text-dark">R. Zarazua</option>
                    <option class="text-dark">S. Wei</option>
                    <option class="text-dark">J. Paolini [4]</option>
                </select>
                <span asp-validation-for="female6" class="text-danger"></span>
            </section>
            <!-- Women's Q3' -->
            <section style="width:95%; margin:5px;">
                <label asp-for="female3"></label>
                <select asp-for="female3" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">C. Gauff [3]</option>
                    <option class="text-dark">S. Kenin</option>
                    <option class="text-dark">L. Jeanjean</option>
                    <option class="text-dark">J. Burrage</option>
                    <option class="text-dark">C. Bucsa</option>
                    <option class="text-dark">C. Paquet</option>
                    <option class="text-dark">Y. Starodubtseva</option>
                    <option class="text-dark">L. Fernandez [30]</option>
                    <option class="text-dark">K. Muchova [20]</option>
                    <option class="text-dark">N. Podoroska</option>
                    <option class="text-dark">N. Osaka</option>
                    <option class="text-dark">C. Garcia</option>
                    <option class="text-dark">V. Erjavec</option>
                    <option class="text-dark">S. Lamens</option>
                    <option class="text-dark">B. Bencic</option>
                    <option class="text-dark">J. Ostapenko [16]</option>
                </select>
                <span asp-validation-for="female3" class="text-danger"></span>
            </section>
            <!-- Women's Q7' -->
            <section style="width:95%; margin:5px;">
                <label asp-for="female7"></label>
                <select asp-for="female7" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">E. Navarro [8]</option>
                    <option class="text-dark">P. Stearns</option>
                    <option class="text-dark">X. Wang</option>
                    <option class="text-dark">J. Grabher</option>
                    <option class="text-dark">A. Kalinina</option>
                    <option class="text-dark">O. Jabeur</option>
                    <option class="text-dark">C. Osorio</option>
                    <option class="text-dark">M. Sakkari [31]</option>
                    <option class="text-dark">Y. Putinseva [24]</option>
                    <option class="text-dark">E. Avanesyan</option>
                    <option class="text-dark">S. Zhang</option>
                    <option class="text-dark">M. Kessler</option>
                    <option class="text-dark">A. Bondar</option>
                    <option class="text-dark">Y. Wang</option>
                    <option class="text-dark">V. Tomova</option>
                    <option class="text-dark">D. Kasatkina [9]</option>
                </select>
                <span asp-validation-for="female7" class="text-danger"></span>
            </section>
            <!-- Women's Q4' -->
            <section style="width:95%; margin:5px;">
                <label asp-for="female4"></label>
                <select asp-for="female4" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">P. Badosa [11]</option>
                    <option class="text-dark">X. Wang</option>
                    <option class="text-dark">Z. Sonmez</option>
                    <option class="text-dark">T. Gibson</option>
                    <option class="text-dark">J. Niemeier</option>
                    <option class="text-dark">M. Chwalinska</option>
                    <option class="text-dark">N. Hibino</option>
                    <option class="text-dark">M. Kostyuk [17]</option>
                    <option class="text-dark">L. Samsonova [25]</option>
                    <option class="text-dark">K. Rakhimova</option>
                    <option class="text-dark">A. Rus</option>
                    <option class="text-dark">O. Danilovic</option>
                    <option class="text-dark">E. Mertens</option>
                    <option class="text-dark">V. Golubic</option>
                    <option class="text-dark">M. Joint</option>
                    <option class="text-dark">J. Pegula [7]</option>
                </select>
                <span asp-validation-for="female4" class="text-danger"></span>
            </section>
            <!-- Women's Q8' -->
            <section style="width:95%; margin:5px;">
                <label asp-for="female8"></label>
                <select asp-for="female8" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">A. Kalinskaya [13]</option>
                    <option class="text-dark">K. Birrell</option>
                    <option class="text-dark">V. Gracheva</option>
                    <option class="text-dark">C. McNally</option>
                    <option class="text-dark">P. Martic</option>
                    <option class="text-dark">J. Cristian</option>
                    <option class="text-dark">L. Bronzetti</option>
                    <option class="text-dark">V. Azarenka [21]</option>
                    <option class="text-dark">E. Alexandrova [26]</option>
                    <option class="text-dark">E. Raducanu</option>
                    <option class="text-dark">M. Carle</option>
                    <option class="text-dark">A. Anisimova</option>
                    <option class="text-dark">R. Sramkova</option>
                    <option class="text-dark">K. Volynets</option>
                    <option class="text-dark">K. Siniakova</option>
                    <option class="text-dark">I. Swiatek [2]</option>
                </select>
            </section>
            <section>
                <button style="width:65%; margin:15px 15px 15px 4.5px;" type="submit" class="btn btn-success btn-block mb-4">Update</button>
            </section>
            <section>
                <button style="width:65%; margin:15px 15px 15px 4.5px;" asp-controller="Home" asp-action="Index" class="btn btn-primary btn-block mb-4">Home</button>
            </section>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}