@model User

<form asp-controller="UserServices" asp-action="ValidateEntrant">
    <div style="position:relative; width:75%; left:13.5%;">
        <h1 style="text-align:center;">Enter Your Picks</h1>
        <br />
        <!-- first name input -->
        <div style="display:grid; grid-template-columns: 1fr 1fr;">
            <section style="width:95%; margin:5px;">
                <strong><label asp-for="firstName"></label></strong>
                <input asp-for="firstName" class="form-control" />
                <span asp-validation-for="firstName" class="text-danger"></span>
            </section>
            <!-- last name input -->
            <section style="width:95%; margin:5px;">
                <strong><label asp-for="lastName"></label></strong>
                <input asp-for="lastName" class="form-control" />
                <span asp-validation-for="lastName" class="text-danger"></span>
            </section>
            <section style="width:95%; margin:25px 15px 15px 4px;">
                <h2 style="color:#1775E1">Men's Draw</h2>
            </section>
            <section>
            </section>

            <!-- Men's' input -->
            <section style="width:95%; margin:5px;">
                <label asp-for="male1"></label>
                <select asp-for="male1" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">N. Djokovic</option>
                    <option class="text-dark">R. Federer</option>
                    <option class="text-dark">R. Nadal</option>
                    <option class="text-dark">A. Murray</option>
                    <option class="text-dark">M. Del Potro</option>
                    <option class="text-dark">D. Shapovalov</option>
                    <option class="text-dark">S. Wawrinka</option>
                    <option class="text-dark">A. Agassi</option>
                </select>
                <span asp-validation-for="male1" class="text-danger"></span>

            </section>
            <section style="width:95%; margin:5px;">
                <label asp-for="male5"></label>
                <select asp-for="male5" class="form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">N. Djokovic</option>
                    <option class="text-dark">R. Federer</option>
                    <option class="text-dark">R. Nadal</option>
                    <option class="text-dark">A. Murray</option>
                    <option class="text-dark">M. Del Potro</option>
                    <option class="text-dark">D. Shapovalov</option>
                    <option class="text-dark">S. Wawrinka</option>
                    <option class="text-dark">A. Agassi</option>
                </select>
                <span asp-validation-for="male5" class="text-danger"></span>
            </section>
            <section style="width:95%; margin:5px;">
                <label asp-for="male2"></label>
                <select asp-for="male2" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">N. Djokovic</option>
                    <option class="text-dark">R. Federer</option>
                    <option class="text-dark">R. Nadal</option>
                    <option class="text-dark">A. Murray</option>
                    <option class="text-dark">M. Del Potro</option>
                    <option class="text-dark">D. Shapovalov</option>
                    <option class="text-dark">S. Wawrinka</option>
                    <option class="text-dark">A. Agassi</option>
                </select>
                <span asp-validation-for="male2" class="text-danger"></span>
            </section>
            <section style="width:95%; margin:5px;">
                <label asp-for="male6"></label>
                <select asp-for="male6" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">N. Djokovic</option>
                    <option class="text-dark">R. Federer</option>
                    <option class="text-dark">R. Nadal</option>
                    <option class="text-dark">A. Murray</option>
                    <option class="text-dark">M. Del Potro</option>
                    <option class="text-dark">D. Shapovalov</option>
                    <option class="text-dark">S. Wawrinka</option>
                    <option class="text-dark">A. Agassi</option>
                </select>
                <span asp-validation-for="male6" class="text-danger"></span>
            </section>
            <section style="width:95%; margin:5px;">
                <label asp-for="male3"></label>
                <select asp-for="male3" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">N. Djokovic</option>
                    <option class="text-dark">R. Federer</option>
                    <option class="text-dark">R. Nadal</option>
                    <option class="text-dark">A. Murray</option>
                    <option class="text-dark">M. Del Potro</option>
                    <option class="text-dark">D. Shapovalov</option>
                    <option class="text-dark">S. Wawrinka</option>
                    <option class="text-dark">A. Agassi</option>
                </select>
                <span asp-validation-for="male3" class="text-danger"></span>
            </section>
            <section style="width:95%; margin:5px;">
                <label asp-for="male7"></label>
                <select asp-for="male7" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">N. Djokovic</option>
                    <option class="text-dark">R. Federer</option>
                    <option class="text-dark">R. Nadal</option>
                    <option class="text-dark">A. Murray</option>
                    <option class="text-dark">M. Del Potro</option>
                    <option class="text-dark">D. Shapovalov</option>
                    <option class="text-dark">S. Wawrinka</option>
                    <option class="text-dark">A. Agassi</option>
                </select>
                <span asp-validation-for="male7" class="text-danger"></span>
            </section>
            <section style="width:95%; margin:5px;">
                <label asp-for="male4"></label>
                <select asp-for="male4" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">N. Djokovic</option>
                    <option class="text-dark">R. Federer</option>
                    <option class="text-dark">R. Nadal</option>
                    <option class="text-dark">A. Murray</option>
                    <option class="text-dark">M. Del Potro</option>
                    <option class="text-dark">D. Shapovalov</option>
                    <option class="text-dark">S. Wawrinka</option>
                    <option class="text-dark">A. Agassi</option>
                </select>
                <span asp-validation-for="male4" class="text-danger"></span>
            </section>
            <section style="width:95%; margin:5px;">
                <label asp-for="male8"></label>
                <select asp-for="male8" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">N. Djokovic</option>
                    <option class="text-dark">R. Federer</option>
                    <option class="text-dark">R. Nadal</option>
                    <option class="text-dark">A. Murray</option>
                    <option class="text-dark">M. Del Potro</option>
                    <option class="text-dark">D. Shapovalov</option>
                    <option class="text-dark">S. Wawrinka</option>
                    <option class="text-dark">A. Agassi</option>
                </select>
                <span asp-validation-for="male8" class="text-danger"></span>
            </section>
            <section style="width:95%; margin:25px 15px 15px 4px;">
                <h2 style="color:#DA2C43">Women's Draw</h2>
            </section>
            <section>
            </section>
            <!-- Womens input -->
            <section style="width:95%; margin:5px;">
                <label asp-for="female1"></label>
                <select asp-for="female1" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">S. Williams</option>
                    <option class="text-dark">V. Williams</option>
                    <option class="text-dark">C. Gauff</option>
                    <option class="text-dark">M. Sharapova</option>
                    <option class="text-dark">V. Azarenka</option>
                    <option class="text-dark">M. Navratilova</option>
                    <option class="text-dark">S. Graf</option>
                    <option class="text-dark">B. King</option>
                </select>
                <span asp-validation-for="female1" class="text-danger"></span>

            </section>
            <section style="width:95%; margin:5px;">
                <label asp-for="female5"></label>
                <select asp-for="female5" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">S. Williams</option>
                    <option class="text-dark">V. Williams</option>
                    <option class="text-dark">C. Gauff</option>
                    <option class="text-dark">M. Sharapova</option>
                    <option class="text-dark">V. Azarenka</option>
                    <option class="text-dark">M. Navratilova</option>
                    <option class="text-dark">S. Graf</option>
                    <option class="text-dark">B. King</option>
                </select>
                <span asp-validation-for="female5" class="text-danger"></span>
            </section>
            <section style="width:95%; margin:5px;">
                <label asp-for="female2"></label>
                <select asp-for="female2" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">S. Williams</option>
                    <option class="text-dark">V. Williams</option>
                    <option class="text-dark">C. Gauff</option>
                    <option class="text-dark">M. Sharapova</option>
                    <option class="text-dark">V. Azarenka</option>
                    <option class="text-dark">M. Navratilova</option>
                    <option class="text-dark">S. Graf</option>
                    <option class="text-dark">B. King</option>
                </select>
                <span asp-validation-for="female2" class="text-danger"></span>
            </section>
            <section style="width:95%; margin:5px;">
                <label asp-for="female6"></label>
                <select asp-for="female6" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">S. Williams</option>
                    <option class="text-dark">V. Williams</option>
                    <option class="text-dark">C. Gauff</option>
                    <option class="text-dark">M. Sharapova</option>
                    <option class="text-dark">V. Azarenka</option>
                    <option class="text-dark">M. Navratilova</option>
                    <option class="text-dark">S. Graf</option>
                    <option class="text-dark">B. King</option>
                </select>
                <span asp-validation-for="female6" class="text-danger"></span>
            </section>
            <section style="width:95%; margin:5px;">
                <label asp-for="female3"></label>
                <select asp-for="female3" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">S. Williams</option>
                    <option class="text-dark">V. Williams</option>
                    <option class="text-dark">C. Gauff</option>
                    <option class="text-dark">M. Sharapova</option>
                    <option class="text-dark">V. Azarenka</option>
                    <option class="text-dark">M. Navratilova</option>
                    <option class="text-dark">S. Graf</option>
                    <option class="text-dark">B. King</option>
                </select>
                <span asp-validation-for="female3" class="text-danger"></span>
            </section>
            <section style="width:95%; margin:5px;">
                <label asp-for="female7"></label>
                <select asp-for="female7" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">S. Williams</option>
                    <option class="text-dark">V. Williams</option>
                    <option class="text-dark">C. Gauff</option>
                    <option class="text-dark">M. Sharapova</option>
                    <option class="text-dark">V. Azarenka</option>
                    <option class="text-dark">M. Navratilova</option>
                    <option class="text-dark">S. Graf</option>
                    <option class="text-dark">B. King</option>
                </select>
                <span asp-validation-for="female7" class="text-danger"></span>
            </section>
            <section style="width:95%; margin:5px;">
                <label asp-for="female4"></label>
                <select asp-for="female4" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">S. Williams</option>
                    <option class="text-dark">V. Williams</option>
                    <option class="text-dark">C. Gauff</option>
                    <option class="text-dark">M. Sharapova</option>
                    <option class="text-dark">V. Azarenka</option>
                    <option class="text-dark">M. Navratilova</option>
                    <option class="text-dark">S. Graf</option>
                    <option class="text-dark">B. King</option>
                </select>
                <span asp-validation-for="female4" class="text-danger"></span>
            </section>
            <section style="width:95%; margin:5px;">
                <label asp-for="female8"></label>
                <select asp-for="female8" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">S. Williams</option>
                    <option class="text-dark">V. Williams</option>
                    <option class="text-dark">C. Gauff</option>
                    <option class="text-dark">M. Sharapova</option>
                    <option class="text-dark">V. Azarenka</option>
                    <option class="text-dark">M. Navratilova</option>
                    <option class="text-dark">S. Graf</option>
                    <option class="text-dark">B. King</option>
                </select>
                <span asp-validation-for="female8" class="text-danger"></span>
            </section>
            <section>
                <button style="width:65%; margin:15px 15px 15px 4.5px;" type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
            </section>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
