@{
    ViewData["Title"] = "Pick Em";
}

@model User

<form asp-controller="UserServices" asp-action="ValidateEntrant">
    <div style="position:relative; width:75%; left:13.5%;">
        <h1 style="text-align:center;">Enter Your Picks</h1>
        <br />
        <!-- first name input -->
        <div style="display:grid; grid-template-columns: 1fr 1fr;">
            <section style="width:95%; margin:5px;">
                <strong><label asp-for="firstName"></label></strong>
                <input asp-for="firstName" class="form-control" />
                <span asp-validation-for="firstName" class="text-danger"></span>
            </section>
            <!-- last name input -->
            <section style="width:95%; margin:5px;">
                <strong><label asp-for="lastName"></label></strong>
                <input asp-for="lastName" class="form-control" />
                <span asp-validation-for="lastName" class="text-danger"></span>
            </section>
            <!-- Email input -->
            <section style="width:95%; margin:5px;">
                <strong><label asp-for="userEmail"></label></strong>
                <input asp-for="userEmail" class="form-control" />
                <span asp-validation-for="userEmail" class="text-danger"></span>
            </section>
            <section>

            </section>
            <section style="width:95%; margin:25px 15px 15px 4px;">
                <a style="text-decoration:none;" href="https://www.rolandgarros.com/en-us/results/SM?round=1" target="_blank"><h2 style="color:#1775E1">Men's Draw</h2></a>
            </section>
            <section>
            </section>

            <!-- Men's' input -->
            <!--Men's Q1-->
            <section class="disabled" style="width:95%; margin:5px;">
                <label asp-for="male1"></label>
                <select asp-for="male1" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">N. Djokovic [1]</option>
                    <option class="text-dark">PH. Herbert</option>
                    <option class="text-dark">R. Carballes Baena</option>
                    <option class="text-dark">C. Lestienne</option>
                    <option class="text-dark">G. Monfils</option>
                    <option class="text-dark">T. Seyboth Wild</option>
                    <option class="text-dark">DE. Galan</option>
                    <option class="text-dark">L. Musetti [30]</option>
                    <option class="text-dark">F. Cerundolo [23]</option>
                    <option class="text-dark">Y. Hanfmann</option>
                    <option class="text-dark">F. Misolic</option>
                    <option class="text-dark">C. O'Connell</option>
                    <option class="text-dark">F. Fognini</option>
                    <option class="text-dark">B. Van De Zandschulp</option>
                    <option class="text-dark">P. Cachin</option>
                    <option class="text-dark">T. Paul [14]</option>
                </select>
                <span asp-validation-for="male1" class="text-danger"></span>
            </section>
            <!--Men's Q5-->
            <section style="width:95%; margin:5px;">
                <label asp-for="male5"></label>
                <select asp-for="male5" class="form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">A. Rublev [6]</option>
                    <option class="text-dark">T. Daniel</option>
                    <option class="text-dark">P. Martinez</option>
                    <option class="text-dark">TA. Tirante</option>
                    <option class="text-dark">L. Nardi</option>
                    <option class="text-dark">A. Muller</option>
                    <option class="text-dark">M. Arnaldi</option>
                    <option class="text-dark">A. Fils [29]</option>
                    <option class="text-dark">U. Humbert [17]</option>
                    <option class="text-dark">L. Sonego</option>
                    <option class="text-dark">Z. Zhang</option>
                    <option class="text-dark">A. Vukic</option>
                    <option class="text-dark">L. Djere</option>
                    <option class="text-dark">D. Altmaier</option>
                    <option class="text-dark">M. Fucsovics</option>
                    <option class="text-dark">S. Tsitsipas [9]</option>
                </select>
                <span asp-validation-for="male5" class="text-danger"></span>
            </section>
            <!--Men's Q2-->
            <section style="width:95%; margin:5px;">
                <label asp-for="male2"></label>
                <select asp-for="male2" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">T. Fritz [12]</option>
                    <option class="text-dark">F. Coria</option>
                    <option class="text-dark">D. Lajovic</option>
                    <option class="text-dark">R. Safiullin</option>
                    <option class="text-dark">A. Popyrin</option>
                    <option class="text-dark">T. Kokkinakis</option>
                    <option class="text-dark">G. Zeppieri</option>
                    <option class="text-dark">A. Mannarino [22]</option>
                    <option class="text-dark">TM. Etcheverry [28]</option>
                    <option class="text-dark">A. Cazaux</option>
                    <option class="text-dark">A. Rinderknech</option>
                    <option class="text-dark">A. Walton</option>
                    <option class="text-dark">V. Vacherot</option>
                    <option class="text-dark">A. Davidovich Fokina</option>
                    <option class="text-dark">F. Meligeni Alves</option>
                    <option class="text-dark">C. Ruud [7]</option>
                </select>
                <span asp-validation-for="male2" class="text-danger"></span>
            </section>
            <!--Men's Q6-->
            <section style="width:95%; margin:5px;">
                <label asp-for="male6"></label>
                <select asp-for="male6" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">B. Shelton [15]</option>
                    <option class="text-dark">H. Gaston</option>
                    <option class="text-dark">K. Nishikori</option>
                    <option class="text-dark">G. Diallo</option>
                    <option class="text-dark">M. Purcell</option>
                    <option class="text-dark">H. Squire </option>
                    <option class="text-dark">Y. Nishioka</option>
                    <option class="text-dark">F. Auger-Aliassime [21]</option>
                    <option class="text-dark">S. Korda [27]</option>
                    <option class="text-dark">H. Mayot</option>
                    <option class="text-dark">E. Ruusuvuori</option>
                    <option class="text-dark">S. Kwon</option>
                    <option class="text-dark">J. Draper</option>
                    <option class="text-dark">J. De Jong</option>
                    <option class="text-dark">JJ. Wolf</option>
                    <option class="text-dark">C. Alcaraz [3]</option>
                </select>
                <span asp-validation-for="male6" class="text-danger"></span>
            </section>
            <!--Men's Q3-->
            <section style="width:95%; margin:5px;">
                <label asp-for="male3"></label>
                <select asp-for="male3" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">A. Zverev [4]</option>
                    <option class="text-dark">R. Nadal</option>
                    <option class="text-dark">D. Goffin</option>
                    <option class="text-dark">G. Mpetshi Perricard</option>
                    <option class="text-dark">R. Hijikata</option>
                    <option class="text-dark">L. Darderi</option>
                    <option class="text-dark">M. Mcdonald</option>
                    <option class="text-dark">T. Griekspoor [26]</option>
                    <option class="text-dark">K. Khachanov [18]</option>
                    <option class="text-dark">S. Nagal</option>
                    <option class="text-dark">J. Kovalik</option>
                    <option class="text-dark">M. Giron</option>
                    <option class="text-dark">F. Cobolli</option>
                    <option class="text-dark">H. Medjedovic</option>
                    <option class="text-dark">D. Evans</option>
                    <option class="text-dark">H. Rune [13]</option>
                </select>
                <span asp-validation-for="male3" class="text-danger"></span>
            </section>
            <!--Men's Q7-->
            <section style="width:95%; margin:5px;">
                <label asp-for="male7"></label>
                <select asp-for="male7" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">H. Hurkacz [8]</option>
                    <option class="text-dark">S. Mochizuki</option>
                    <option class="text-dark">N. Moreno De Alboran</option>
                    <option class="text-dark">B. Nakashima</option>
                    <option class="text-dark">L. Van Assche</option>
                    <option class="text-dark">D. Shapovalov</option>
                    <option class="text-dark">M. Bellucci</option>
                    <option class="text-dark">F. Tiafoe [25]</option>
                    <option class="text-dark">A. Tabilo [24]</option>
                    <option class="text-dark">Z. Bergs</option>
                    <option class="text-dark">J. Thompson</option>
                    <option class="text-dark">M. Marterer</option>
                    <option class="text-dark">F. Marozsan</option>
                    <option class="text-dark">M. Kukushkin</option>
                    <option class="text-dark">A. Kovacevic</option>
                    <option class="text-dark">G. Dimitrov [10]</option>
                </select>
                <span asp-validation-for="male7" class="text-danger"></span>
            </section>
            <!--Men's Q4-->
            <section style="width:95%; margin:5px;">
                <label asp-for="male4"></label>
                <select asp-for="male4" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">A. De Minaur [11]</option>
                    <option class="text-dark">A. Michelsen</option>
                    <option class="text-dark">J. Munar</option>
                    <option class="text-dark">R. Bautista Agut</option>
                    <option class="text-dark">RA. Burruchaga</option>
                    <option class="text-dark">JL. Struff</option>
                    <option class="text-dark">G. Barrere</option>
                    <option class="text-dark">A. Bublik [19]</option>
                    <option class="text-dark">M. Navone [31]</option>
                    <option class="text-dark">P. Carreno Busta</option>
                    <option class="text-dark">N. Borges</option>
                    <option class="text-dark">T. Machac</option>
                    <option class="text-dark">T. Monteiro</option>
                    <option class="text-dark">M. Kecmanovic</option>
                    <option class="text-dark">D. Koepfer</option>
                    <option class="text-dark">D. Medvedev [5]</option>
                </select>
                <span asp-validation-for="male4" class="text-danger"></span>
            </section>
            <!--Men's Q8-->
            <section style="width:95%; margin:5px;">
                <label asp-for="male8"></label>
                <select asp-for="male8" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">N. Jarry [16]</option>
                    <option class="text-dark">C. Moutet</option>
                    <option class="text-dark">A. Shevchenko</option>
                    <option class="text-dark">A. Karatsev</option>
                    <option class="text-dark">T. Atmane</option>
                    <option class="text-dark">S. Ofner</option>
                    <option class="text-dark">G. Heide</option>
                    <option class="text-dark">S. Baez [20]</option>
                    <option class="text-dark">C. Norrie [32]</option>
                    <option class="text-dark">P. Kotov</option>
                    <option class="text-dark">S. Wawrinka</option>
                    <option class="text-dark">A. Murray</option>
                    <option class="text-dark">R. Gasquet</option>
                    <option class="text-dark">B. Coric</option>
                    <option class="text-dark">C. Eubanks</option>
                    <option class="text-dark">J. Sinner [2]</option>
                </select>
                <span asp-validation-for="male8" class="text-danger"></span>
            </section>
            <section style="width:95%; margin:25px 15px 15px 4px;">
                <a style="text-decoration:none;" href="https://www.rolandgarros.com/en-us/results/SD?round=1" target="_blank"><h2 style="color:#DA2C43">Women's Draw</h2></a>
            </section>
            <section>
            </section>
            <!-- Womens input -->
            <!-- Women's Q1' -->
            <section style="width:95%; margin:5px;">
                <label asp-for="female1"></label>
                <select asp-for="female1" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">I. Swiatek [1]</option>
                    <option class="text-dark">L. Jeanjean</option>
                    <option class="text-dark">L. Bronzetti</option>
                    <option class="text-dark">N. Osaka</option>
                    <option class="text-dark">J. Bouzas Maneiro</option>
                    <option class="text-dark">J. Fett</option>
                    <option class="text-dark">M. Bouzkova</option>
                    <option class="text-dark">V. Kudermetova [29]</option>
                    <option class="text-dark">B. Krejcikova [24]</option>
                    <option class="text-dark">V. Golubic</option>
                    <option class="text-dark">A. Potapova</option>
                    <option class="text-dark">K. Rakhimova</option>
                    <option class="text-dark">X. Wang</option>
                    <option class="text-dark">J. Niemeier</option>
                    <option class="text-dark">V. Tomova</option>
                    <option class="text-dark">E. Alexandrova [16]</option>
                </select>
                <span asp-validation-for="female1" class="text-danger"></span>

            </section>
            <!-- Women's Q5' -->
            <section style="width:95%; margin:5px;">
                <label asp-for="female5"></label>
                <select asp-for="female5" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">Q. Zheng [7]</option>
                    <option class="text-dark">A. Cornet</option>
                    <option class="text-dark">A. Krueger</option>
                    <option class="text-dark">T. Korpatsch</option>
                    <option class="text-dark">L. Zhu</option>
                    <option class="text-dark">E. Avanesyan</option>
                    <option class="text-dark">A. Blinkova</option>
                    <option class="text-dark">S. Cirstea [28]</option>
                    <option class="text-dark">A. Kalinskaya [23]</option>
                    <option class="text-dark">C. Burel</option>
                    <option class="text-dark">B. Andreescu</option>
                    <option class="text-dark">S. Sorribes Tormo</option>
                    <option class="text-dark">O. Dodin</option>
                    <option class="text-dark">K. Day</option>
                    <option class="text-dark">D. Saville</option>
                    <option class="text-dark">J. Paolini [12]</option>
                </select>
                <span asp-validation-for="female5" class="text-danger"></span>
            </section>
            <!-- Women's Q2' -->
            <section style="width:95%; margin:5px;">
                <label asp-for="female2"></label>
                <select asp-for="female2" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">D. Collins [11]</option>
                    <option class="text-dark">C. Dolehide</option>
                    <option class="text-dark">O. Danilovic</option>
                    <option class="text-dark">M. Trevisan</option>
                    <option class="text-dark">D. Vekic</option>
                    <option class="text-dark">L. Tsurenko</option>
                    <option class="text-dark">L. Pigossi</option>
                    <option class="text-dark">M. Kostyuk [18]</option>
                    <option class="text-dark">K. Siniakova [32]</option>
                    <option class="text-dark">D. Galfi</option>
                    <option class="text-dark">C. Paquet</option>
                    <option class="text-dark">D. Shnaider</option>
                    <option class="text-dark">K. Volynets</option>
                    <option class="text-dark">A. Krunic</option>
                    <option class="text-dark">R. Masarova</option>
                    <option class="text-dark">M. Vondrousova [5]</option>
                </select>
                <span asp-validation-for="female2" class="text-danger"></span>
            </section>
            <!-- Women's Q6' -->
            <section style="width:95%; margin:5px;">
                <label asp-for="female6"></label>
                <select asp-for="female6" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">E. Svitolina [15]</option>
                    <option class="text-dark">KA. Pliskova</option>
                    <option class="text-dark">F. Ferro</option>
                    <option class="text-dark">D. Parry</option>
                    <option class="text-dark">E. Jacquemot</option>
                    <option class="text-dark">A. Bogdan</option>
                    <option class="text-dark">P. Udvardy</option>
                    <option class="text-dark">A. Pavlyuchenkova [20]</option>
                    <option class="text-dark">E. Mertens [25]</option>
                    <option class="text-dark">ML. Carle</option>
                    <option class="text-dark">P. Martic</option>
                    <option class="text-dark">K. Mladenovic</option>
                    <option class="text-dark">A. Rus</option>
                    <option class="text-dark">A. Kerber</option>
                    <option class="text-dark">G. Minnen</option>
                    <option class="text-dark">E. Rybakina [4]</option>
                </select>
                <span asp-validation-for="female6" class="text-danger"></span>
            </section>
            <!-- Women's Q3' -->
            <section style="width:95%; margin:5px;">
                <label asp-for="female3"></label>
                <select asp-for="female3" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">C. Gauff [3]</option>
                    <option class="text-dark">J. Avdeeva</option>
                    <option class="text-dark">A. Van Uytvanck</option>
                    <option class="text-dark">T. Zidansek</option>
                    <option class="text-dark">Y. Wang</option>
                    <option class="text-dark">M. Timofeeva</option>
                    <option class="text-dark">A. Tomljanovic</option>
                    <option class="text-dark">D. Yastremska [30]</option>
                    <option class="text-dark">L. Samsonova [17]</option>
                    <option class="text-dark">M. Linette</option>
                    <option class="text-dark">R. Sramkova</option>
                    <option class="text-dark">A. Anisimova</option>
                    <option class="text-dark">Y. Starodubtseva</option>
                    <option class="text-dark">C. Bucsa</option>
                    <option class="text-dark">E. Cocciaretto</option>
                    <option class="text-dark">B. Haddad Maia [13]</option>
                </select>
                <span asp-validation-for="female3" class="text-danger"></span>
            </section>
            <!-- Women's Q7' -->
            <section style="width:95%; margin:5px;">
                <label asp-for="female7"></label>
                <select asp-for="female7" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">M. Sakkari [6]</option>
                    <option class="text-dark">V. Gracheva</option>
                    <option class="text-dark">B. Pera</option>
                    <option class="text-dark">N. Hibino</option>
                    <option class="text-dark">J. Riera</option>
                    <option class="text-dark">I. Begu</option>
                    <option class="text-dark">H. Dart</option>
                    <option class="text-dark">L. Noskova [27]</option>
                    <option class="text-dark">V. Azarenka [19]</option>
                    <option class="text-dark">N. Podoroska</option>
                    <option class="text-dark">M. Andreeva</option>
                    <option class="text-dark">E. Bektas</option>
                    <option class="text-dark">L. Ciric Bagaric</option>
                    <option class="text-dark">P. Stearns</option>
                    <option class="text-dark">M. Frech</option>
                    <option class="text-dark">D. Kasatkina [10]</option>
                </select>
                <span asp-validation-for="female7" class="text-danger"></span>
            </section>
            <!-- Women's Q4' -->
            <section style="width:95%; margin:5px;">
                <label asp-for="female4"></label>
                <select asp-for="female4" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">J. Ostapenko [9]</option>
                    <option class="text-dark">J. Cristian</option>
                    <option class="text-dark">T. Maria</option>
                    <option class="text-dark">C. Tauson</option>
                    <option class="text-dark">L. Siegemund</option>
                    <option class="text-dark">S. Kenin</option>
                    <option class="text-dark">E. Lys</option>
                    <option class="text-dark">C. Garcia [21]</option>
                    <option class="text-dark">L. Fernandez [31]</option>
                    <option class="text-dark">J. Ponchet</option>
                    <option class="text-dark">X. Wang</option>
                    <option class="text-dark">Z. Bai</option>
                    <option class="text-dark">A. Kalinina</option>
                    <option class="text-dark">C. Osorio</option>
                    <option class="text-dark">S. Vickery</option>
                    <option class="text-dark">O. Jabeur [8]</option>
                </select>
                <span asp-validation-for="female4" class="text-danger"></span>
            </section>
            <!-- Women's Q8' -->
            <section style="width:95%; margin:5px;">
                <label asp-for="female8"></label>
                <select asp-for="female8" class="selectpicker form-control">
                    <option class="text-dark"></option>
                    <option class="text-dark">M. Keys [14]</option>
                    <option class="text-dark">R. Zarazua</option>
                    <option class="text-dark">Y. Yuan</option>
                    <option class="text-dark">M. Sherif</option>
                    <option class="text-dark">S. Errani</option>
                    <option class="text-dark">AK. Schemiedlova</option>
                    <option class="text-dark">Z. Sonmez</option>
                    <option class="text-dark">E. Navarro [22]</option>
                    <option class="text-dark">K. Boulter [26]</option>
                    <option class="text-dark">P. Badosa</option>
                    <option class="text-dark">Y. Putinseva</option>
                    <option class="text-dark">S. Stephens</option>
                    <option class="text-dark">I. Burillo Escorihuela</option>
                    <option class="text-dark">M. Uchijima</option>
                    <option class="text-dark">E. Andreeva</option>
                    <option class="text-dark">A. Sabalenka [2]</option>
                </select>
                <span asp-validation-for="female8" class="text-danger"></span>
            </section>
            <section>
                <button style="width:65%; margin:15px 15px 15px 4.5px;" type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
            </section>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
