@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">STC Wimbledon 2023 Pick'Ems</h1>
    <br /><br />
    <p style="font-size:20px;">Please email <a href="mailto:lukefischer959@gmail.com" target="_blank">lukefischer959@gmail.com</a> if you encounter any issues.</p>
    <br />
    <a style="width:40%;" class="btn btn-lg btn-danger" asp-area="" asp-controller="Leaderboard" asp-action="Index">Leaderboard</a>
    <br /><br /><br />
    <img src="~/Wimbledon.svg.png" alt="Wimbledon Logo" width="250" height="230">
    <br /><br /><br />
    <h3>Sponsored by</h3>
    <br />
    <img src="~/HH.svg" alt="Heaton Health Logo" width="250">
</div>
