@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2" style="color:#CB5223"><strong>French Open 2024 Pick'Ems</strong></h1>
    <br />
    <h3>Picks will be open once the draw is made available.</h3>
    <br />
    <a href="https://www.rolandgarros.com/en-us/" target="_blank"><img src="~/Logo_Roland-Garros.svg" alt="French Open Logo" width="10%" height="8%"></a>
    <br /><br /><br />
    <a style="width:40%;" class="btn btn-lg btn-primary" asp-area="" asp-controller="UserServices" asp-action="Index">Pick'Em</a>
    <br /><br />
    <a style="width:40%;" class="btn btn-lg btn-success" asp-area="" asp-controller="UserServices" asp-action="EditLogin">Manage Picks</a>
    <br /><br />
    <a style="width:40%;" class="btn btn-lg btn-danger" asp-area="" asp-controller="Leaderboard" asp-action="Index">Leaderboard</a>
    <br /><br />
    <a style="width:40%;" class="btn btn-lg btn-warning" asp-area="" asp-controller="Archive" asp-action="Index">Archive</a>
    <br /><br />
    <h5>Email any issues to <a href="mailto:lukefischer959@gmail.com" target="_blank">lukefischer959@gmail.com</a></h5>
</div>
