@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3" style="color:#3C638E"><strong>Australian Open 2025 Pick'Ems</strong></h1>
    <h2>sponsored by Junction 56 Distillery</h2> 
    <br />
    <br />
    <a href="https://ausopen.com/" target="_blank"><img src="~/Logo-Australian-Open.png" alt="Australian Open Logo" width="25%" height="25%"></a>
    <br /><br /><br />
    <a style="width:40%;" class="btn btn-lg btn-primary" asp-area="" asp-controller="UserServices" asp-action="Index">Pick'Em</a>
    <br /><br />
    <a style="width:40%;" class="btn btn-lg btn-success" asp-area="" asp-controller="UserServices" asp-action="EditLogin">Manage Picks</a>
    <br /><br />
    <a style="width:40%;" class="btn btn-lg btn-danger" asp-area="" asp-controller="Leaderboard" asp-action="Index">Leaderboard</a>
    <br /><br />
    <a style="width:40%;" class="btn btn-lg btn-warning" asp-area="" asp-controller="Archive" asp-action="Index">Archive</a>
    <br /><br />
    <h5>Email any issues to <a href="mailto:lukefischer959@gmail.com" target="_blank">lukefischer959@gmail.com</a></h5>
</div>
