@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2" style="color:#3c3b6e"><strong>US Open 2023 Pick'Ems</strong></h1>
    <br />
    <h3>Registration will open August 26th, 2023.</h3>
    <a href="https://www.usopen.org/index.html" target="_blank"><img src="~/US_Open_Logo.png" alt="US Open Tennis Logo" width="350" height="230"></a>
    <br /><br />
    <a style="width:40%;" class="disabled btn btn-lg btn-primary" asp-area="" asp-controller="UserServices" asp-action="Index">Pick'Em</a>
    <br /><br />
    <a style="width:40%;" class="disabled btn btn-lg btn-success" asp-area="" asp-controller="UserServices" asp-action="EditLogin">Manage Picks</a>
    <br /><br />
    <a style="width:40%;" class="disabled btn btn-lg btn-danger" asp-area="" asp-controller="Leaderboard" asp-action="Index">Leaderboard</a>
    <br /><br />
    <a style="width:40%;" class="btn btn-lg btn-warning" asp-area="" asp-controller="Archive" asp-action="Index">Archive</a>
</div>
