@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">STC Wimbledon 2023 Pick'Ems</h1>
    <br /><br />
    <p style="font-size:20px;">Submissions will open once the draw is made available.</p>
    <img src="~/Wimbledon.svg.png" alt="Wimbledon Logo" width="280" height="250">
    <br /><br /><br />
    <a style="width:40%;" class="btn btn-lg btn-success disabled" asp-area="" asp-controller="UserServices" asp-action="Index">Pick' Em</a>
    <br /><br />
    <a style="width:40%;" class="btn btn-lg btn-primary disabled" asp-area="" asp-controller="UserServices" asp-action="EditLogin">Manage Picks</a>
    <br /><br />
    <a style="width:40%;" class="btn btn-lg btn-danger disabled" asp-area="" asp-controller="Leaderboard" asp-action="Index">Leaderboard</a>
</div>
