@{
    ViewData["Title"] = "Leaderboard";
}
﻿
@model IEnumerable<User>

<br />
<h2>Final Result</h2>
<table class="table" style="background-color:white; color:white">
    <thead style="background-color:#3C638E;">
        <tr style="color:white;">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Score</th>
        </tr>
    </thead>
    <tbody>
        @{
            int place = 1;
            int displayPlace = 0;
            int currentScore = -1;
            foreach(var obj in Model){
                string dispName = obj.fullName;
                if(obj.score != currentScore)
                {
                    displayPlace = place;
                }
                <tr>
                    <th style="color:#3C638E;" scope="row">@displayPlace</th>
                    <td><strong><a style="text-decoration:none; color:#3C638E;" asp-controller="Leaderboard" asp-action="ViewPicks" asp-route-id="@obj.fullName">@dispName</a></strong></td>
                    <td style="color:#3C638E;">@obj.score</td>
                </tr>
                currentScore = obj.score;
                place++;
            }
        }
    </tbody>
</table>