@{
    ViewData["Title"] = "Leaderboard";
}

@model User

<h2 style="text-align:center;">You can view others picks after entry is locked.</h2>

<br />
<form>
    <section style="text-align:center;">
        <button asp-controller="Home" asp-action="Index" class="btn btn-primary btn-block mb-4">Home</button>
    </section>
</form>