@{
    ViewData["Title"] = "Australian Open 2024";
}
<br />
<br />
<h1 class="text-center"><strong>Australian Open 2024 Results</strong></h1>
<br />

<table class="table" style="color:white">
    <thead style="background-color:#1E8FD5">
        <tr style="color:white">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Score</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" style="color:#3C638E;"><strong>1</strong></th>
            <td style="color:#3C638E;">Murray Schiedel</td>
            <td style="color:#3C638E;">10</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">2</th>
            <td style="color:#3C638E;">Chris Mavity</td>
            <td style="color:#3C638E;">9</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">2</th>
            <td style="color:#3C638E;">Annette Garneau</td>
            <td style="color:#3C638E;">9</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">2</th>
            <td style="color:#3C638E;">John Noble</td>
            <td style="color:#3C638E;">9</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">2</th>
            <td style="color:#3C638E;">Will Heaton</td>
            <td style="color:#3C638E;">9</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">2</th>
            <td style="color:#3C638E;">Luke Fischer</td>
            <td style="color:#3C638E;">9</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">7</th>
            <td style="color:#3C638E;">Betty Groenestege-Jantzi</td>
            <td style="color:#3C638E;">8</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">7</th>
            <td style="color:#3C638E;">Evan Moorehead</td>
            <td style="color:#3C638E;">8</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">7</th>
            <td style="color:#3C638E;">Graham Heaton</td>
            <td style="color:#3C638E;">8</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">10</th>
            <td style="color:#3C638E;">Jenn Backstrom</td>
            <td style="color:#3C638E;">7</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">10</th>
            <td style="color:#3C638E;">Josh Heaton</td>
            <td style="color:#3C638E;">7</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">10</th>
            <td style="color:#3C638E;">Maggie Heaton</td>
            <td style="color:#3C638E;">7</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">10</th>
            <td style="color:#3C638E;">Stephen Fischer</td>
            <td style="color:#3C638E;">7</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">10</th>
            <td style="color:#3C638E;">Steven Schwartzentruber</td>
            <td style="color:#3C638E;">7</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">10</th>
            <td style="color:#3C638E;">Noella Schiedl</td>
            <td style="color:#3C638E;">7</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">10</th>
            <td style="color:#3C638E;">Sandie Ennett</td>
            <td style="color:#3C638E;">7</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">10</th>
            <td style="color:#3C638E;">Sandy Winsby</td>
            <td style="color:#3C638E;">7</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">18</th>
            <td style="color:#3C638E;">Mike Payne</td>
            <td style="color:#3C638E;">6</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">19</th>
            <td style="color:#3C638E;">Larry Shurrie</td>
            <td style="color:#3C638E;">5</td>
        <tr>
            <th scope="row" style="color:#3C638E;">20</th>
            <td style="color:#3C638E;">Sarah Heaton</td>
            <td style="color:#3C638E;">4</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">20</th>
            <td style="color:#3C638E;">Kevin Vogt</td>
            <td style="color:#3C638E;">4</td>
        </tr>
    </tbody>
</table>

