@{
    ViewData["Title"] = "French Open 2024";
}
<br />
<br />
<h1 class="text-center"><strong>French Open 2024 Results</strong></h1>
<br />

<table class="table" style="color:white">
    <thead style="background-color:#D06B28">
        <tr style="color:white">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Score</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" style="color:#D06B28;"><strong>1</strong></th>
            <td style="color:#D06B28;">Steve Scott</td>
            <td style="color:#D06B28;">14</td>
        </tr>
        <tr>
            <th scope="row" style="color:#D06B28;">2</th>
            <td style="color:#D06B28;">Josh Heaton</td>
            <td style="color:#D06B28;">13</td>
        </tr>
        <tr>
            <th scope="row" style="color:#D06B28;">2</th>
            <td style="color:#D06B28;">Lynn Bast</td>
            <td style="color:#D06B28;">13</td>
        </tr>
        <tr>
            <th scope="row" style="color:#D06B28;">4</th>
            <td style="color:#D06B28;">William Heaton</td>
            <td style="color:#D06B28;">12</td>
        </tr>
        <tr>
            <th scope="row" style="color:#D06B28;">4</th>
            <td style="color:#D06B28;">Richard Bast</td>
            <td style="color:#D06B28;">12</td>
        </tr>
        <tr>
            <th scope="row" style="color:#D06B28;">4</th>
            <td style="color:#D06B28;">Srinivasa Dugalam</td>
            <td style="color:#D06B28;">12</td>
        </tr>
        <tr>
            <th scope="row" style="color:#D06B28;">7</th>
            <td style="color:#D06B28;">Sandy Winsby</td>
            <td style="color:#D06B28;">11</td>
        </tr>
        <tr>
            <th scope="row" style="color:#D06B28;">7</th>
            <td style="color:#D06B28;">Murray Schiedel</td>
            <td style="color:#D06B28;">11</td>
        </tr>
        <tr>
            <th scope="row" style="color:#D06B28;">7</th>
            <td style="color:#D06B28;">Tony S</td>
            <td style="color:#D06B28;">11</td>
        </tr>
        <tr>
            <th scope="row" style="color:#D06B28;">7</th>
            <td style="color:#D06B28;">Michael Payne</td>
            <td style="color:#D06B28;">11</td>
        </tr>
        <tr>
            <th scope="row" style="color:#D06B28;">7</th>
            <td style="color:#D06B28;">Luke Fischer</td>
            <td style="color:#D06B28;">11</td>
        </tr>
        <tr>
            <th scope="row" style="color:#D06B28;">7</th>
            <td style="color:#D06B28;">Adam Monteith</td>
            <td style="color:#D06B28;">11</td>
        </tr>
        <tr>
            <th scope="row" style="color:#D06B28;">7</th>
            <td style="color:#D06B28;">Charlotte Beaumont</td>
            <td style="color:#D06B28;">11</td>
        </tr>
        <tr>
            <th scope="row" style="color:#D06B28;">7</th>
            <td style="color:#D06B28;">Dave Fair</td>
            <td style="color:#D06B28;">11</td>
        </tr>
        <tr>
            <th scope="row" style="color:#D06B28;">7</th>
            <td style="color:#D06B28;">Evan Moorehead</td>
            <td style="color:#D06B28;">11</td>
        </tr>
        <tr>
            <th scope="row" style="color:#D06B28;">16</th>
            <td style="color:#D06B28;">Caryn Dunfield Scott</td>
            <td style="color:#D06B28;">10</td>
        </tr>
        <tr>
            <th scope="row" style="color:#D06B28;">16</th>
            <td style="color:#D06B28;">John Noble</td>
            <td style="color:#D06B28;">10</td>
        </tr>
        <tr>
            <th scope="row" style="color:#D06B28;">16</th>
            <td style="color:#D06B28;">Monica Eickmeyer</td>
            <td style="color:#D06B28;">10</td>
        </tr>
        <tr>
            <th scope="row" style="color:#D06B28;">16</th>
            <td style="color:#D06B28;">Matt Furlong</td>
            <td style="color:#D06B28;">10</td>
        <tr>
            <th scope="row" style="color:#D06B28;">16</th>
            <td style="color:#D06B28;">Sandie Ennett</td>
            <td style="color:#D06B28;">10</td>
        </tr>
        <tr>
            <th scope="row" style="color:#D06B28;">16</th>
            <td style="color:#D06B28;">Stephen FischerW</td>
            <td style="color:#D06B28;">10</td>
        </tr>
        <tr>
            <th scope="row" style="color:#D06B28;">22</th>
            <td style="color:#D06B28;">Shaun Devine</td>
            <td style="color:#D06B28;">9</td>
        </tr>
        <tr>
            <th scope="row" style="color:#D06B28;">22</th>
            <td style="color:#D06B28;">Maggie Heaton</td>
            <td style="color:#D06B28;">9</td>
        </tr>
        <tr>
            <th scope="row" style="color:#D06B28;">22</th>
            <td style="color:#D06B28;">Judy Hart</td>
            <td style="color:#D06B28;">9</td>
        <tr>
            <th scope="row" style="color:#D06B28;">22</th>
            <td style="color:#D06B28;">Graham Heaton</td>
            <td style="color:#D06B28;">9</td>
        </tr>
        <tr>
            <th scope="row" style="color:#D06B28;">26</th>
            <td style="color:#D06B28;">Doug Wilson</td>
            <td style="color:#D06B28;">8</td>
        </tr>
        <tr>
            <th scope="row" style="color:#D06B28;">26</th>
            <td style="color:#D06B28;">Betty Groenestege-Jantzi</td>
            <td style="color:#D06B28;">8</td>
        </tr>
        <tr>
            <th scope="row" style="color:#D06B28;">26</th>
            <td style="color:#D06B28;">Noella Schiedel</td>
            <td style="color:#D06B28;">8</td>
        <tr>
            <th scope="row" style="color:#D06B28;">26</th>
            <td style="color:#D06B28;">Steven Schwartzentruber</td>
            <td style="color:#D06B28;">8</td>
        </tr>
        <tr>
            <th scope="row" style="color:#D06B28;">30</th>
            <td style="color:#D06B28;">Annette Garneau</td>
            <td style="color:#D06B28;">7</td>
        </tr>
        <tr>
            <th scope="row" style="color:#D06B28;">31</th>
            <td style="color:#D06B28;">Greg Misener</td>
            <td style="color:#D06B28;">6</td>
        </tr>
    </tbody>
</table>