@{
    ViewData["Title"] = "Archive";
}
 
<h3 class="text-center"><strong>Past Results</strong></h3>
<br />

<table class="table">
    <thead>
        <tr>
            <th scope="col">Event</th>
            <th scope="col">Winner</th>
            <th scope="col">Sponsor</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background-color:#3C638E">
            <th> <a style="text-decoration:none; color:white;" asp-controller="Archive" asp-action="USOpen2023" scope="row" style="color:white;">US Open 2023</a></th>
            <td style="color:white;">John Noble</td>
            <td> <a style="text-decoration:none; color:white" href="https://www.junction56.ca/" target="_blank"><strong>Junction 56 Distillery</strong></a></td>
        </tr>
        <tr style="background-color:#007b22">
            <th> <a style="text-decoration:none; color:white;" asp-controller="Archive" asp-action="Wimbledon2023" scope="row" style="color:white;">Wimbledon 2023</a></th>
            <td style="color:white;">Will Heaton</td>
            <td> <a style="text-decoration:none; color:white" href="https://heatonhealth.com/" target="_blank"><strong>Heaton Health</strong></a></td>
        </tr>
    </tbody>
</table>