@{
    ViewData["Title"] = "US Open 2023";
}
<br />
<br />
<h1 class="text-center"><strong>US Open 2023 Results</strong></h1>
<br />

<table class="table" style="color:white">
    <thead style="background-color:#3C638E">
        <tr style="color:white">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Score</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" style="color:#3C638E;"><strong>1</strong></th>
            <td style="color:#3C638E;">John Noble</td>
            <td style="color:#3C638E;">10</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">2</th>
            <td style="color:#3C638E;">Evan Moorehead</td>
            <td style="color:#3C638E;">9</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">2</th>
            <td style="color:#3C638E;">Liam Benton</td>
            <td style="color:#3C638E;">9</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">2</th>
            <td style="color:#3C638E;">Luke Fischer</td>
            <td style="color:#3C638E;">9</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">2</th>
            <td style="color:#3C638E;">Rob Munford</td>
            <td style="color:#3C638E;">9</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">2</th>
            <td style="color:#3C638E;">Steven Schwartzentruber</td>
            <td style="color:#3C638E;">9</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">7</th>
            <td style="color:#3C638E;">Edda Lang</td>
            <td style="color:#3C638E;">8</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">7</th>
            <td style="color:#3C638E;">Will Heaton</td>
            <td style="color:#3C638E;">8</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">7</th>
            <td style="color:#3C638E;">Adam Monteith</td>
            <td style="color:#3C638E;">8</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">7</th>
            <td style="color:#3C638E;">Dave Fair</td>
            <td style="color:#3C638E;">8</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">11</th>
            <td style="color:#3C638E;">Graham Heaton</td>
            <td style="color:#3C638E;">7</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">11</th>
            <td style="color:#3C638E;">Jagdish Patel</td>
            <td style="color:#3C638E;">7</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">11</th>
            <td style="color:#3C638E;">Sarah Heaton</td>
            <td style="color:#3C638E;">7</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">11</th>
            <td style="color:#3C638E;">Monica Eickmeyer</td>
            <td style="color:#3C638E;">7</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">11</th>
            <td style="color:#3C638E;">Murray Schiedel</td>
            <td style="color:#3C638E;">7</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">11</th>
            <td style="color:#3C638E;">Lynn Bast</td>
            <td style="color:#3C638E;">7</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">11</th>
            <td style="color:#3C638E;">Maggie Heaton</td>
            <td style="color:#3C638E;">7</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">11</th>
            <td style="color:#3C638E;">Stephen Fischer</td>
            <td style="color:#3C638E;">7</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">19</th>
            <td style="color:#3C638E;">Mark Barton</td>
            <td style="color:#3C638E;">6</td>
        <tr>
            <th scope="row" style="color:#3C638E;">19</th>
            <td style="color:#3C638E;">Noella Schiedel</td>
            <td style="color:#3C638E;">6</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">19</th>
            <td style="color:#3C638E;">Shaun Devine</td>
            <td style="color:#3C638E;">6</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">19</th>
            <td style="color:#3C638E;">Josh Heaton</td>
            <td style="color:#3C638E;">6</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">23</th>
            <td style="color:#3C638E;">David Nickel</td>
            <td style="color:#3C638E;">5</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">24</th>
            <td style="color:#3C638E;">Joan Aitcheson</td>
            <td style="color:#3C638E;">4</td>
        </tr>
        <tr>
            <th scope="row" style="color:#3C638E;">24</th>
            <td style="color:#3C638E;">Tony Stanic</td>
            <td style="color:#3C638E;">4</td>
        </tr>
    </tbody>
</table>
