@{
    ViewData["Title"] = "Wimbledon 2024";
}
<br />
<br />
<h1 class="text-center"><strong>Wimbledon 2024 Results</strong></h1>
<br />
<br />

<table class="table" style="background-color:#007b22; color:white">
    <thead style="background-color:#240046;">
        <tr style="color:white">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Score</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td style="color:white;">Charlotte Beaumont</td>
            <td>9</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td style="color:white;">Jenn Backstrom</td>
            <td>8</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td style="color:white;">Liam Benton</td>
            <td>8</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td style="color:white;">Will Heaton</td>
            <td>8</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td style="color:white;">Sandie Ennett</td>
            <td>7</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td style="color:white;">Stephen Fischer</td>
            <td>7</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td style="color:white;">Graham Heaton</td>
            <td>7</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td style="color:white;">Adam Monteith</td>
            <td>7</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td style="color:white;">Ashley Di Labio</td>
            <td>6</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td style="color:white;">Brian Arens</td>
            <td>6</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td style="color:white;">Dave Fair</td>
            <td>6</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td style="color:white;">Greg Misner</td>
            <td>6</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td style="color:white;">Doug Wilson</td>
            <td>6</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td style="color:white;">Evan Moorehead</td>
            <td>6</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td style="color:white;">Geoff Williams</td>
            <td>6</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td style="color:white;">Josh Heaton</td>
            <td>6</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td style="color:white;">Steve Scott</td>
            <td>6</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td style="color:white;">Sandy Winsby</td>
            <td>6</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td style="color:white;">Luke Fischer</td>
            <td>6</td>
        </tr>
        <tr>
            <th scope="row">20</th>
            <td style="color:white;">Maggie Heaton</td>
            <td>5</td>
        </tr>
        <tr>
            <th scope="row">20</th>
            <td style="color:white;">Mike Payne</td>
            <td>5</td>
        </tr>
        <tr>
            <th scope="row">20</th>
            <td style="color:white;">Monica Eickmeyer</td>
            <td>5</td>
        </tr>
        <tr>
            <th scope="row">20</th>
            <td style="color:white;">Paul Carter</td>
            <td>5</td>
        </tr>
        <tr>
            <th scope="row">20</th>
            <td style="color:white;">Richard Bast</td>
            <td>5</td>
        </tr>
        <tr>
            <th scope="row">20</th>
            <td style="color:white;">Sara Pukal</td>
            <td>5</td>
        </tr>
        <tr>
            <th scope="row">20</th>
            <td style="color:white;">Steven Schwartzentruber</td>
            <td>5</td>
        </tr>
        <tr>
            <th scope="row">20</th>
            <td style="color:white;">Tony S</td>
            <td>5</td>
        </tr>
        <tr>
            <th scope="row">20</th>
            <td style="color:white;">Joey Hishon</td>
            <td>5</td>
        </tr>
        <tr>
            <th scope="row">20</th>
            <td style="color:white;">David Nickel</td>
            <td>5</td>
        </tr>
        <tr>
            <th scope="row">20</th>
            <td style="color:white;">Chris Mavity</td>
            <td>5</td>
        </tr>
        <tr>
            <th scope="row">20</th>
            <td style="color:white;">Annette Garneau</td>
            <td>5</td>
        </tr>
        <tr>
            <th scope="row">20</th>
            <td style="color:white;">Kurt Eickmeier</td>
            <td>5</td>
        </tr>
        <tr>
            <th scope="row">20</th>
            <td style="color:white;">Richard Bast</td>
            <td>5</td>
        </tr>
        <tr>
            <th scope="row">33</th>
            <td style="color:white;">Caryn Scott</td>
            <td>4</td>
        </tr>
        <tr>
            <th scope="row">33</th>
            <td style="color:white;">Judy Hart</td>
            <td>4</td>
        </tr>
        <tr>
            <th scope="row">33</th>
            <td style="color:white;">Srinivasa Dugalam</td>
            <td>4</td>
        </tr>
        <tr>
            <th scope="row">33</th>
            <td style="color:white;">Matt Furlong</td>
            <td>4</td>
        </tr>
        <tr>
            <th scope="row">33</th>
            <td style="color:white;">Lynn Bast</td>
            <td>4</td>
        </tr>
    </tbody>
</table>
