@{
    ViewData["Title"] = "Wimbledon 2023";
}
<br />
<br />
<h1 class="text-center"><strong>Wimbledon 2023 Results</strong></h1>
<br />
<br />
<br />

<h3 class="text-center"><strong>TIE BREAKER</strong></h3>
<br />

<table class="table" style="background-color:#007b22; color:white">
    <thead style="background-color:#240046;">
        <tr style="color:white">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Score</th>
        </tr>
    </thead>
    <tbody>
        <tr style="background-color:#DAA520">
            <th scope="row">1</th>
            <td style="text-decoration:none; color:white;"><strong>Will Heaton</strong></td>
            <td>6</td>
        </tr>
        <tr style="background-color:#A9A9A9">
            <th scope="row">2</th>
            <td style="text-decoration:none; color:white;"><strong>Adam Monteith</strong></td>
            <td>5</td>
        </tr>
        <tr style="background-color:#835220">
            <th scope="row">3</th>
            <td style="text-decoration:none; color:white;"><strong>Shaun Y</strong></td>
            <td>0</td>
        </tr>
    </tbody>
</table>

<br />
<h3 class="text-center"><strong>REGULAR PLAY</strong></h3>

<br />

<table class="table" style="background-color:#007b22; color:white">
    <thead style="background-color:#240046;">
        <tr style="color:white">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Score</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td style="color:white;">Adam Monteith</td>
            <td>10</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td style="color:white;">Shaun Y</td>
            <td>10</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td style="color:white;">Will Heaton</td>
            <td>10</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td style="color:white;">Sandie Ennett</td>
            <td>9</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td style="color:white;">Ibrar Karim</td>
            <td>9</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td style="color:white;">Josh Heaton</td>
            <td>9</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td style="color:white;">Luke Fischer</td>
            <td>9</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td style="color:white;">Lynn Bast</td>
            <td>9</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td style="color:white;">Catherine Byvelds</td>
            <td>9</td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td style="color:white;">Judy Hart</td>
            <td>8</td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td style="color:white;">Annette Garneau</td>
            <td>8</td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td style="color:white;">Bill Ramadani</td>
            <td>8</td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td style="color:white;">John Noble</td>
            <td>8</td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td style="color:white;">Mike Payne</td>
            <td>8</td>
        </tr>
        <tr>
            <th scope="row">15</th>
            <td style="color:white;">Steven Schwartzentruber</td>
            <td>7</td>
        </tr>
        <tr>
            <th scope="row">15</th>
            <td style="color:white;">Jim Wilson</td>
            <td>7</td>
        </tr>
        <tr>
            <th scope="row">15</th>
            <td style="color:white;">Joan Aitcheson</td>
            <td>7</td>
        </tr>
        <tr>
            <th scope="row">15</th>
            <td style="color:white;">Charlotte Beaumont</td>
            <td>7</td>
        </tr>
        <tr>
            <th scope="row">15</th>
            <td style="color:white;">Chris Mavity</td>
            <td>7</td>
        <tr>
            <th scope="row">15</th>
            <td style="color:white;">David Nickel</td>
            <td>7</td>
        </tr>
        <tr>
            <th scope="row">15</th>
            <td style="color:white;">Evan Moorehead</td>
            <td>7</td>
        </tr>
        <tr>
            <th scope="row">22</th>
            <td style="color:white;">Maggie Heaton</td>
            <td>6</td>
        </tr>
        <tr>
            <th scope="row">22</th>
            <td style="color:white;">Stephen Fischer</td>
            <td>6</td>
        </tr>
        <tr>
            <th scope="row">24</th>
            <td style="color:white;">Gayle Brooks</td>
            <td>5</td>
        </tr>
        <tr>
            <th scope="row">24</th>
            <td style="color:white;">Graham Heaton</td>
            <td>5</td>
        </tr>
        <tr>
            <th scope="row">24</th>
            <td style="color:white;">Christine Devine</td>
            <td>5</td>
        </tr>
    </tbody>
</table>